
{{ define "model" }}

package sgen

type {{ $.Name }} struct {
    ID string `json:"id"`
{{- range $_, $f := $.Fields }}
    {{ pascal $f.Name }} string `json:"{{ snake $f.Name }}"`
{{- end }}
}

func ({{ $.Name }}) JSONSchema() []byte {
    return binjson.MustAsset("json/{{ snake $.Name }}.json")
}


{{ end }}
